@import "reset";
@import "general";
@import "flex";
header {
  background-color: rgb(22, 27, 34);
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 3rem;
}
.root {
  width: 100%;
  text-align: center;
}
input {
  display: block;
  border: 1px solid rgb(48, 54, 61);
  padding: 1rem 1.5rem;
  border-radius: 0.4rem;
  width: 40%;
  margin: 0 auto;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(13, 17, 23);
}

::placeholder {
  color: rgb(194, 195, 169);
}
.figure,
.figure1,
.figure2 {
  width: 6rem;
  height: 6rem;
  margin: 1rem;
  img {
    width: 100%;
    border-radius: 50%;
  }
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
h3 {
  text-decoration: underline;
  font-size: 1.2rem;
  color: rgb(23, 112, 240);
}
.followerClass,
.followingClass {
  font-size: 1.5rem;
}
